:root {
    --svg-links-hover-color:#22d06a;
    --buttons-color:#059541;
}

.container-page{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    flex-direction: column;
}

.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50rem;
    padding: 1rem;
    width: 50rem;
    gap: 3rem;
}

.container-messages {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border-radius: 1rem;
    height: 25rem;
}

.container-form-inputs-labels {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    flex-direction: column;
}

.form-inputs-labels{
    margin-bottom: 2rem;
    position: relative;
}

.success {
    text-align: center;
    background-color: transparent;
    color: rgb(75, 235, 141);
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0;
    width: 30rem;
}

.error {
    text-align: center;
    background-color: transparent;
    color: rgb(235, 139, 75);
    font-size: 1.6rem;
    font-weight: 500;
    width: 30rem;
    margin: 0;
    font-weight: 600;
}

.messages {
    list-style-type: none;
    padding: 0;
}

.messages li {
    margin: 0.5rem 0;
}
.form-erro {
    color: #f76f2b;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    padding: 0.5rem;
    font-weight: 600;
    text-align: center;
    list-style: none;
}

label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    background-color: rgb(37, 37, 37); /* Mesmo fundo do input */
    padding: 0 0.5rem;
    transition: all 0.3s ease-in-out;
    font-size: 1.6rem;
    color: #aaa;
    z-index: 0;
    border-radius: 2rem;
}

input {
    border-radius: 1.4rem;
    padding: 1rem;
    background-color: rgb(37, 37, 37);
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
    border: solid 0.8px rgb(58, 58, 58);
    width: 30rem;
    caret-color: var(--svg-links-hover-color);
}

input:focus + label,
input:not(:placeholder-shown) + label {
    top: -1.5rem;
    left: 1rem;
    font-size: 1.4rem;
    color: var(--svg-links-hover-color); /* Altera a cor do label ao focar */
    z-index: 1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px rgba(37, 37, 37, 0.185) inset;
    -webkit-text-fill-color: white; /* Cor do texto quando autofill */
    transition: background-color 5000s ease-in-out 0s;
}

input:focus {
    border-color: var(--svg-links-hover-color);
}

input::placeholder {
    color: #aaa; /* Cor do placeholder */
    opacity: 1; /* Para garantir que placeholder fique visível */
}

input:focus::placeholder {
    color: transparent; /* Placeholder some quando foca no input */
}


h2 {
    margin-bottom: 2rem;
    font-weight: 600;

}

.monk-icon {
    animation: monkIconColors 5s infinite; /* Loop infinito de 3s */
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

.monk-icon:hover {
    transition: 0.3s ease-in-out;
    animation-play-state: paused; /* Pausa a animação no hover */
    transform: scale(1.1); /* Aumenta o SVG no hover */
    fill: goldenrod;
    }


svg {
    width: 6rem;
    height: 6rem;
    margin-left: 0.5rem;
    transition: fill 0.3s ease-in-out, transform 0.3s ease-in-out;
     /* Adiciona espaço entre o texto e o SVG, se necessário */
}


a,
svg {
    text-decoration: none;
    font-size: 2rem;
    border-radius: 1.2rem;
    font-weight: 600;
    padding: 0.5rem;
    cursor: pointer;
}

a:link,
a:visited {
    color: #ffffff;
}

a:hover,
a:active,
svg:hover{
    transition: 0.3s ease-in;
    color:var(--svg-links-hover-color);
    fill: var(--svg-links-hover-color);
}

.checkboxs-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 15rem;
    margin-bottom: 5rem;
}


.custom-radio {
    accent-color: var(--buttons-color);
    cursor: pointer;
    padding: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}


input[type="radio"] {
    appearance: none;
    transform: scale(1); 
    border-radius: 0.6rem; /* Torna a bolinha arredondada */
    border: 1px solid #025d28; /* Borda */
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

input[type="radio"]:checked {
    background-color: #1dd469; /* Cor quando selecionado */
}


button {
    margin-bottom: 1rem;
    width: 8rem;
    height: 3rem;
    color: white;
    background-color: var(--buttons-color);
    border: none;
    border-radius: 0.8rem;
    font-size: 1.6rem;
    font-weight: 600;
    transform: translateY(-100%);
}

button:hover {
    background-color:#10dc65e2 ;
    transition: all 0.3s ease-in-out;

}


@keyframes monkIconColors {
    0% {
        fill: #faf35f; /* Verde claro */
    }
    20% {
        fill: #f8ce4f; /* Verde médio */
    }
    30% {
        fill: #fbcc40; /* Verde médio */
    }
    40% {
        fill: #f79245; /* Verde médio */
    }
    50% {
        fill: #f76f2b; /* Verde médio */
    }
    60% {
        fill: #f79245; /* Verde médio */
    }
    70% {
        fill: #fbcc40; /* Verde médio */
    }
    80% {
        fill: #f8ce4f; /* Verde médio */
    }
    90% {
        fill: #f8d15d; /* Verde médio */
    }
    100% {
        fill: #faf35f; /* Verde escuro */
    }
}

@media (max-width: 768px) {
    .container-page {
      display: grid;
      grid-template-columns: 1fr; /* 1 coluna */
      grid-template-rows: auto auto; /* 2 linhas */
    }
  }