
svg {
    fill: white;
    width: 3rem;
    height: 3rem;
}


.container-forms {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    width: auto;
}

.infos, .metodos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    min-width: 30rem;
    min-height: 40rem;
    width: auto;
    height: auto;
    padding: 1rem;
}

.a-dashboard {
    text-decoration: none;
    font-size: 2rem;
    color: white;
}

.a-dashboard:hover {
    color: rgb(8, 101, 70);
}

.agenda-horarios {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.titulo-icone {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.dropdown-btn, button {
    padding: 0.1rem 0.2rem;
    color: white;
    cursor: pointer;
    font-weight: 600;
    border:none;
    width: 5rem;
    height: 5rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}


.dropdown-list, #dropdownList {
    display: none; /* Esconde a lista inicialmente */
    position: absolute;
    background-color: rgb(27, 27, 27);
    box-shadow: 0 0 0.8rem 1.6rem rgba(0,0,0,0.2);
    padding: 1rem;
    margin-top: 0.5rem;
    list-style: none;
    border-radius: 0.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: auto;
    z-index: 1;
}

.dropdown-list.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    max-height: 30rem; /* Ajuste conforme necessário */
}

/* Estilo dos itens da lista */
.dropdown-list li {
    padding: 0.8rem 1.2rem;
}

.dropdown-list li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    padding: 0.5rem;
}


.dropdown-list li a:hover {
    background-color: rgba(0, 0, 0, 0.215);
}

.container-messages {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.container-messages li {
    list-style: none;
}


.success {
    text-align: center;
    background-color: transparent;
    color: rgb(75, 235, 141);
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0;
    width: 30rem;
}