
/* Secao Main */
main {
    flex: 1;
    padding: 1rem;
    z-index: -1;
}

.a-biblioteca:hover {
    background: none;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    margin-top: 5rem;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 40rem;
}

.bem-vindo {
    font-size: 5rem;
    color: #05a58d;
}

.main-container a {
    color: #5cdeca;
    cursor: pointer;
}


/* Footer */

footer {
    width: 100%;
    text-align: center;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.footer-text {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 30rem;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.footer-items {
    display: flex;
    gap: 2rem;
}

.footer-boxs {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas de tamanho igual */
    grid-template-rows: 1fr; /* 1 linha */
    gap: 5rem; /* Espaçamento entre as colunas */
}


.gmail-icon,
.whatsapp-icon,
.facebook-icon,
.github-icon,
.instagram-icon {
    fill: var(--svg-links-hover-color);
}

.gmail-icon:hover,
.whatsapp-icon:hover,
.facebook-icon:hover,
.github-icon:hover,
.instagram-icon:hover {
    fill: rgb(102, 254, 160);
}

.contacts,
.social-media,
.code{
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    width: 15rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

footer p {
    cursor: pointer;
}

footer strong {
    color: #058673;
}

@keyframes monkIconColors {
    0% {
        fill: #faf35f; /* Verde claro */
    }
    20% {
        fill: #f8ce4f; /* Verde médio */
    }
    30% {
        fill: #fbcc40; /* Verde médio */
    }
    40% {
        fill: #f79245; /* Verde médio */
    }
    50% {
        fill: #f76045; /* Verde médio */
    }
    60% {
        fill: #f79245; /* Verde médio */
    }
    70% {
        fill: #fbcc40; /* Verde médio */
    }
    80% {
        fill: #f8ce4f; /* Verde médio */
    }
    90% {
        fill: #f8d15d; /* Verde médio */
    }
    100% {
        fill: #faf35f; /* Verde escuro */
    }
}

.container-messages {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.container-messages li {
    list-style: none;
}


.success {
    text-align: center;
    background-color: transparent;
    color: rgb(75, 235, 141);
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0;
    width: 30rem;
}

