
:root {
    --svg-links-hover-color:#22d06a ;
}

/* Navbar */
header {
    position: sticky;
    z-index: 1000;
    top: 0;
    background-color: rgba(19, 19, 19, 0.9);
}

h1 {
    cursor: pointer;
    font-size: 3.2rem;
}

.homepageh1-link {
    color: white;
}


a,
svg {
    text-decoration: none;
    font-size: 2rem;
    border-radius: 1.2rem;
    font-weight: 600;
    padding: 0.5rem;
    cursor: pointer;
    color: white;
}

a:hover,
a:active,
svg:hover{
    transition: 0.3s ease-in;
    color:var(--svg-links-hover-color);
    fill: var(--svg-links-hover-color);
}

svg {
    width: 3rem;
    height: 3rem;
    margin-left: 0.5rem;
    transition: fill 0.3s ease-in-out, transform 0.3s ease-in-out;

}

.navbar-container {
    display: flex;
    justify-content: space-between; /* Alinha os links à direita */
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    height: 8rem;
    margin: 0 2rem;
    background-color: transparent;
}

.title {
    display: flex;
    gap: 1rem;
}

.navbar-links {
    display: flex; /* Garante que os links estejam em linha */
    align-items: center; /* Alinha verticalmente os itens */
    gap: 2rem;
}

.navbar-links a {
    display: flex; /* Permite que o SVG e o link sejam alinhados no centro */
    align-items: center;
    color: rgb(195, 194, 194); 
}

.navbar-links a:hover{
    color: var(--svg-links-hover-color);
}

.monk-icon {
    animation: monkIconColors 5s infinite; /* Loop infinito de 3s */
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    transform: translateY(20%);
}

.monk-icon:hover {
    transition: 0.3s ease-in-out;
    animation-play-state: paused; /* Pausa a animação no hover */
    transform: scale(1.1); /* Aumenta o SVG no hover */
    }

.book-icon, .monk-icon,
.book-icon-main {
    width: 4rem;
    height: 4rem;
}

.book-icon-main {
    transform: translateY(30%);
}

.book-icon-main:hover {
    fill: #05a58d;
}

@keyframes monkIconColors {
    0% {
        fill: #faf35f; /* Verde claro */
    }
    20% {
        fill: #f8ce4f; /* Verde médio */
    }
    30% {
        fill: #fbcc40; /* Verde médio */
    }
    40% {
        fill: #f79245; /* Verde médio */
    }
    50% {
        fill: #f76045; /* Verde médio */
    }
    60% {
        fill: #f79245; /* Verde médio */
    }
    70% {
        fill: #fbcc40; /* Verde médio */
    }
    80% {
        fill: #f8ce4f; /* Verde médio */
    }
    90% {
        fill: #f8d15d; /* Verde médio */
    }
    100% {
        fill: #faf35f; /* Verde escuro */
    }
}