{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block title %} Login {% endblock %}
{% block content %}
<div class="container-page">
        <div class="container-form">
            <div class="container-messages">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
        {% endif %}
        </div>
        <form action="{% url 'fazer_login' %}" method="post">
            {% csrf_token %}
            <div class="container-form-inputs-labels">
                <h2>Login</h2>
                <div class="form-inputs-labels">
                    <input type="email" id="email"  name="email" placeholder="">
                    <label for="email">E-mail</label>
                </div>
                
                <div class="form-inputs-labels">
                    <input type="password" id="senha" name="senha" placeholder=" ">
                    <label for="senha">Senha</label>
                </div>
                <button type="submit">Enviar</button> 
                <p>Ainda não possui uma conta? <a href="{% url 'criar_conta' %}">Crie a sua aqui</a></p>       
            </div>
        </form>
    </div>
</div>
{% endblock %}