{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block title %} Login {% endblock %}
{% block content %}
<div class="container-page">
    <div class="container-form">
        <h2>Login</h2>
        <form action="" method="post">
            <div class="container-form-inputs-labels">
                <div class="form-inputs-labels">
                    <input type="email" id="email" placeholder=" ">
                    <label for="email">E-mail</label>
                </div>
                
                <div class="form-inputs-labels">
                    <input type="password" id="senha" placeholder=" ">
                    <label for="senha">Senha</label>
                </div>
                <button type="submit">Enviar</button> 
                <p>Ainda não possui uma conta? <a href="{% url 'criar_conta' %}">Crie a sua aqui</a></p>       
            </div>
        </form>
    </div>
</div>
<script src="js/language.js"></script>
{% endblock %}